// ESLint 检查 .vue 文件需要单独配置编辑器：
// https://eslint.vuejs.org/user-guide/#editor-integrations
{
  "extends": ["@antfu"],
  "rules": {
    "semi": [2, "never"],
    "vue/multi-word-component-names": 0,
    "vue/singleline-html-element-content-newline": 0,
    "vue/html-self-closing": 0,
    "antfu/if-newline": 0,
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "no-console": "off"
  }
}

